<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

        <key>items</key>

        <array>

                <dict>

                        <key>assets</key>

                        <array>

                                <dict>

                                        <key>kind</key>

                                        <string>software-package</string>

                                        <key>url</key>

                                        <string>http://10.12.16.46:8080/apk/ZBSD_IOSSDK_Hotfix_1.0.0.2_2019_10_17_2_43_44_svn18750</string>

                                </dict>

                                <dict>

                                        <key>kind</key>

                                        <string>display-image</string>

                                        <key>needs-shine</key>

                                        <true/>

                                        <key>url</key>

                                        <string>http://10.12.16.36:8080/ccxt_packetUp/APP_Icon_1024.png</string>

                                </dict>

                                <dict>

                                        <key>kind</key>

                                        <string>full-size-image</string>

                                        <key>needs-shine</key>

                                        <true/>

                                        <key>url</key>

                                        <string>http://10.12.16.36:8080/ccxt_packetUp/APP_Icon_1024.png</string>

                                </dict>

                        </array>

                        <key>metadata</key>

                        <dict>

                                <key>bundle-identifier</key>

                                <string>com.cyou.Anchor.inhouse</string>

                                <key>bundle-version</key>

                                <string>0.0.1</string>

                                <key>kind</key>

                                <string>software</string>

                                <key>title</key>

                                <string>ccxt</string>

                        </dict>

                </dict>

        </array>

</dict>

</plist>
